.ui.message{
    width: 50%;
    top: 25px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(207,0,15, 0.1);
    border: 3px solid #cf000f;
}

.display-area{
    display: flex;
    justify-content: center;
    align-items: center;
}